.spinwrap {display: block;position: fixed; bottom: 30%;    -webkit-animation: fadein 1.7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.7s; /* Firefox < 16 */
        -ms-animation: fadein 1.7s; /* Internet Explorer */
         -o-animation: fadein 1.7s; /* Opera < 12.1 */
    animation: fadein 1.7s;}


.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #536A78;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.inline {
        -webkit-animation: fadein 1.7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.7s; /* Firefox < 16 */
        -ms-animation: fadein 1.7s; /* Internet Explorer */
         -o-animation: fadein 1.7s; /* Opera < 12.1 */
    animation: fadein 1.7s;}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.loader {
  font-family: 'Playfair Display', Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
  font-style: normal;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
background: #99CEE7;
  color: black;
  font-size:2em;
  text-align: center;
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songtitle {display: block;opacity: .4;font-size: 70%;margin-top: 7px;}





    body {  font-family: 'Playfair Display', Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 

}
   


@media (max-width: 768px) {
  
.loader {
 font-size:1.1em;
}

.songtitle {display: block;opacity: .4;font-size: 85%;margin-top: 7px;}

 .google-maps {
 /*       position: relative;
         padding-bottom: 75%; 
        height: 0;
        overflow: hidden; 
    }

  
}
